.vc-popup-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.vc-popup--round {
  border-top-left-radius: 16rpx;
  border-top-right-radius: 16rpx;
}
.vc-popup__body {
  max-height: 70%;
}
.vc-action-sheet-item:last-child:after {
  display: none;
}
.vc-action-sheet--flex {
  display: flex;
  align-items: center;
  height: 104rpx;
  padding: 0 32rpx;
}
.vc-action-sheet--disabled {
  // opacity: .5;
  color: #c0c0c0;
  cursor: not-allowed;
}
.vc-action-sheet-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vc-action-sheet__title {
  &.is-active {
    color: #00bcd4;
    /* font-weight: 500; */
  }
}
.vc-action-sheet__gap {
  height: 24rpx;
  background-color: $uni-bg-grey;
}
